.form {
  margin-left: 25%;
  margin-top: 20px;
  font-size: 20px;
  width: 650px;
}
.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
body {
  background-color: rgb(145, 216, 245);
}
div.form > div {
  border: 3px solid rgb(45, 111, 197);
  border-radius: 10%;
}
